<div>
  <h1>Login</h1>
</div>
<div class="container">
  <div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}</div>
  <div>
    <label for="inputUsername" class="sr-only">Username</label>
    <input [(ngModel)]="username" type="username" id="inputUsername" class="form-control" placeholder="username"
           required autofocus>
    <br>
    <label for="inputPassword" class="sr-only">Password</label>
    <input [(ngModel)]="password" type="password" id="inputPassword" class="form-control" placeholder="Password"
           required>
    <br>
    <button (click)=handleJWTAuthLogin() class="btn btn-lg btn-primary btn-block">Login</button>
  </div>
</div>

